#train-sched-table th, td {
  display: inline-block;
  font-weight: bolder;
  width: 16.575%;
}

#train-sched-table-head, #add-train-btn, .card-title {
    padding: 20px;
    background-color: black; 
    color: rgb(247, 206, 102);
    font-weight: bolder;
}

#curr-time {
    font-weight: bolder;
    text-align: center;
    text-decoration-line:none;
}

.jumbotron {
    /* color: white; */
    color: rgb(247, 206, 102);
    font-weight: bolder;
    /* The BACKGROUND image used */
    /* background: url("../images/logogoldlong.png"); */
    background: url("../images/steamEngineBig.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}

#add-train-image {
    background-color: black; 
    margin-left:100px;
    /* float: right; */
}

