#train-sched-table th, td {
  display: inline-block;
  width: 16.575%;
}

.card-title { 
    /* text-decoration-line: underline; */
    padding: 20px;
    background-color: black; 
    color: white;
    font-weight: bolder;
}

#curr-time {
    font-weight: bolder;
    text-align: center;
    text-decoration-line:none;
}

/* .jumbotron {
    background-color: black; 
} */


/* style="background-color: black; color: white" */

.jumbotron {
    color: white;
    font-weight: bolder;
    /* The BACKGROUND image used */
    /* background: url("../images/logogoldroller.png"); */
    background: url("../images/steamEngineBig.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */ /* WORKS */
    /* background-repeat: no-repeat repeat; */
    background-size: cover;
    
    /* My previous find */
    /* background-repeat:repeat-y; */
    /* background-size: 100%; */
}